body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* TUTORIAL CSS */

.main-tutorial {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tutorial-content-container {
  width: 500px;
  max-width: 100vw;
  margin: 0px auto;
}
.tutorial-counter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tutorial-counter button {
  padding: 4px 12px;
  margin: 8px;
  font-weight: 700px;
  font-size: 24px;
}
